.MainMenu {
  background-color: #eef0f1;
}

.Divider {
    margin: 0 20px;
    background: #dde1e3;
    height: 1px;
    transition: margin .2s;
}

@media only screen and (max-width: 500px) {
  .MainMenu {
    display: block;
    position: sticky;
    bottom: 0;
  }
}