.SevenDayForecast {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #000;
  margin-left: 2%;
  margin-right: 2%;
}

@media only screen and (max-width: 500px) {
  .SevenDayForecast {
    flex-direction: column;
  }
}