@import '../../variables.module.scss';
.SideMenu {
    position: fixed;
    height: 100%;
    width: $side-menu-width;
    z-index: 2;
    border-left:1px solid grey;
    background-color: #eef0f1;
    font-size: 15px;
    color: #000;
}

.SideMenu header {
    background-color: white;
    border-bottom: 1px solid grey;
    height: 150px;
}