@mixin slider-postion {
  display: flex;
  justify-content: flex-start;
}

@mixin text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.WeatherDataInDetail {
    display: grid;
    grid-template-columns: 20% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 30px 70px;
    grid-auto-rows: 40px;
    font-size: 15px;
    color: #000;
}

.SelectedDay {
  @include slider-postion;
  align-items: center;
  font-size: 1.2em;
  span {
    @include text-overflow;
  }
}

.Images{
  @include slider-postion;
}

.Temperature{
  @include slider-postion;
  span {
    margin-right: 5px;
  }
  h4{
    @include text-overflow;
  }
}

.windDirection{
  @include slider-postion;
  span {
    margin-right: 5px;
  }
  h4{
    @include text-overflow;
  }
}

.WindSpeed{
  @include slider-postion;
  span {
    margin-right: 5px;
  }
  h4{
    @include text-overflow;
  }
}

.Precipitation{
  @include slider-postion;
  span {
    margin-right: 5px;
  }
  h4{
    @include text-overflow;
  }
}

.WeatherDataIamge{
  background-position: center;

}