.WeatherDataInDetail {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%
}

.SelectedDay{
    display: grid;
}


.Temperature{
    display: grid;
}

.WindDirection {
    display: grid;
}

.WindSpeed{
    display: grid;
}

.Precipitation{
    display: grid
}