.WeatherDataInDetail {
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}

.SelectedDay {
  display: grid;
  grid-gap: 10px;
}

.Temperature {
  display: grid;
  grid-gap: 10px;
}

.WindDirection {
  display: grid;
  grid-gap: 10px;
}

.WindSpeed {
  display: grid;
  grid-gap: 10px;
}

.Precipitation {
  display: grid;
  grid-gap: 10px;
}
