.WeatherDataInDetail {
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}

.SelectedDay {
  display: grid;
  grid-gap: 10px;
}

.Temperature {
  display: grid;
  grid-gap: 10px;
}

.WindDirection {
  display: grid;
  grid-gap: 10px;
}

.WindSpeed {
  display: grid;
  grid-gap: 10px;
}

.Precipitation {
  display: grid;
  grid-gap: 10px;
}

.hourlyDataHeader{
  display: grid;
  grid-template-columns: 20% 80%;
  a{
    text-align: center;
    margin: auto;
  }
  h2{
    text-align: center;
    margin-bottom: 0;
  }
}
