.CloseSpan {
    display: flex;
    margin-right:10px;
    height: 200px;
    a{
        margin-left: auto;
    }
    span {
    
        font-size: 2rem;
        font-weight: bold;
        color: black;
        &:hover {
            font-size: 2.2rem; 
          }
    }
    
}