.LoginRegisterData {
  
    display: flex;
    flex-direction: column;
    position: relative;
    height: 230px;
    top: 0; 
    z-Index:2; 
    width: 200px; 
    background-color: #eef0f1;;
    
    box-sizing: border-box;
    margin-bottom: 30px;
}

:global(.example-enter) {
  opacity: 0.01;
}

:global(.example-enter-active) {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

:global(.example-leave) {
  opacity: 1;
}

:global(.example-leave-active) {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
  

.SelectComponent {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}


.SelectComponent {

    
   
}

.Error {
  color: red
}