.LoginRegisterData {
    height: 100%; 
    position: fixed;
    top: 0; 
    z-Index:2; 
    width: 200px; 
    background-color: #eae9e9;
}

.SelectComponent {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

.SelectComponent {
    
   
}
span {
    
    &:before {
        width:100%;
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: #103f78;
        -webkit-transition: width .2s;
        transition: width .2s;
    }
}