.Contact {
  display: grid;
  grid-template-columns: 50%;
  justify-content: space-evenly;
  margin-bottom: 70px;
}



@media only screen and (max-width: 500px) {
  .Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    h3{
      align-self: center;
    }
    form {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

