.WeatherDataInDetail {
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}

.SelectedDay {
  display: grid;
  grid-gap: 40px;
  text-align: center;
}

.Temperature {
  display: grid;
  grid-gap: 40px;
  text-align: center;
}

.WindDirection {
  display: grid;
  grid-gap: 40px;
  text-align: center;
}

.WindSpeed {
  display: grid;
  grid-gap: 40px;
  text-align: center;
}

.Precipitation {
  display: grid;
  grid-gap: 40px;
  text-align: center;
}

.hourlyDataHeader {
  display: grid;
  grid-template-columns: 20% 80%;
  a {
    text-align: center;
    margin: auto;
  }
  h2 {
    text-align: center;
    margin-bottom: 0;
  }
}
