.OneDayForecast {
    position: relative;
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #ebebeb;
    border: 1px solid hsla(0,0%,50.2%,.15);
    border-left: none;
    cursor: pointer;
    
}

.DayName {
    font-size: 1.4rem;
    font-weight: 700;
}