@import '../../variables.module.scss';
.SideMenu {
    position: fixed;
    height: 100%;
    width: $side-menu-width;
    border-left:1px solid grey;
}

.SideMenu header {
    background-color: white;
    border-bottom: 1px solid grey;
    height: 150px;
}