.OpenWeatherMap {
    height: 80vh;
    width: 80vw;
    background-color: orange;
    z-index: 0;
    margin-top: 2%;
    
}

.MapInfo {
    span{
      font-size: 15px;
      color: #000;
    }
     
    margin-bottom: 2%; 
}

.mapboxgl-canvas {
    left: 0;
    position: relative;
}