.SearchMobileIcon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  bottom: 0;
  right: 0;
  position: fixed;
  margin-right: 25px;
  margin-bottom: 85px;
  background-color: #0b467e;
  text-align: center;
  box-shadow: 5px 10px 8px #888888;
}
