.mainHeader {
    height: 150px;
    position: relative;
    display:flex;
    justify-content: center;
    background-image: linear-gradient(135deg,#103f78,#0f8eb4 );
    background-size: cover;
    color: #fff;
} 
.headerInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin: 20px;
    
   
        
    text-align: 'left';

        
    
   
   h1{
       color:white;
       font-size: 2.6rem;
       margin-top: .2em;
       margin-bottom: 0px;
       font-weight: 600;
   }
   
}
.headerImage {
    margin-left: auto;
    margin-right: 20px;
    div {
      display: flex;
      justify-content: center
    }
    div:first-child {
        span{
            font-weight: 700;
            font-size: 2.6em
        }
    }

}

@media only screen and (max-width: 500px) {
    .headerInfo {
        flex-direction: column;
      h1 {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
    .headerImage {
        margin-left: 20px;
        div:first-child {
            display: flex;
            align-items: center;
            span{
              font-size: 1.3rem;
              font-weight: 600;
            }
        }  
    }
  }