html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  color: #000;
}

#root {
  position: absolute;
  left: 0;
  right: 0;
}
div.transition-group {
  position: relative;
}

code {
  font-family: "Roboto", "Courier New", monospace;
}

.mapboxgl-canvas {
  position: relative;
  left: 0;
}

:global(.example-enter, .example-appear) {
  opacity: 0;
  z-index: 1;
}

:global(.example-enter-active, .example-appear-active) {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

:global(.example-exit) {
  opacity: 1;
}

:global(.example-exit-active) {
  opacity: 0;
  transition: opacity 300ms linear;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
