html,body, #root{
  height: 100%;
  width: 100%;
  font-family:   "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
    color: #000;
}


code {
  font-family: "Roboto", "Courier New",
    monospace;
}


.mapboxgl-canvas {
  position: relative;
  left:0;
}


:global(.example-enter) {
  opacity: 0.01;
}

:global(.example-enter-active) {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

:global(.example-leave) {
  opacity: 1;
}

:global(.example-leave-active) {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}